@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  --bs-body-font-family: var("Lato", "Poppins");
  --bs-body-line-height: 1.4;
  --bs-body-bg: var(--bs-gray-100);
  font-style: normal;
  margin: 0;
  padding: 0;
}